.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #00b4aa;
  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    .image {
      margin-right: 2vw;
      height: 10vh;
      vertical-align: middle;
    }
    .text {
      font-size: 10vh;
      line-height: 12vh;
    }
  }
  .editor {
    margin-top: 12vh;
    width: 320px;
    animation: fade 0.2s;
    .buttons {
      display: flex;
      justify-content: center;
      margin-top: 1vh;
    }
  }
  .icon-menu {
    position: fixed;
    right: 2vw;
    bottom: 4vh;
    font-size: 4vh;
    line-height: 6vh;
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
    border: 0.4vh solid #fff;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background: #fff;
      color: #00b4aa;
    }
  }
}
